<div style="text-align: center"><h1>Welcome to the Anime Interactive Database</h1></div>
<div><div><a href="http://localhost:4200/login">Login</a></div><div><a href="http://localhost:4200/signup">Sign Up</a></div></div>
<div style="text-align: center"><h2>Coming Soon:</h2></div>
<div><!--Upcoming Animes--></div>
<div style="text-align: center"><h2>Hot Right Now:</h2></div>
<div><!--Top Rated Animes--></div>
<div style="text-align: center"><h2>New Releases:</h2></div>
<div><!--New Animes--></div>