<div style="text-align: center"><h1>Welcome to the Anime Interactive Database</h1><h2 id="under">Top Anime</h2></div>
<router-outlet></router-outlet>
<div id = "container">
	<a *ngFor="let top of (top | slice:13:23)" routerLink="/details/{{top.mal_id}}">
		<div class="main">
			<div class="image">
					<img src="{{top.image_url}}"/>
			</div>
			<div class="explain">
				<p>{{top.title}}</p>
				<hr>
				<h3>Rank #{{top.rank}}</h3>
				<hr>
				<p>Start Date: {{top.start_date}}</p>
				<p>End Date: {{top.end_date}}</p>
				<p>Episodes: {{top.episodes}}</p>
				<p>Click on this box to learn more!</p>
			</div>
		</div>
	</a>
</div>