<div style="text-align: center"><h1>Welcome to the Anime Interactive Database</h1></div>
  <div><div><a href="http://localhost:4200/login">Login</a></div><div><a href="http://localhost:4200/signup">Sign Up</a><p *ngFor='let u of user || async'>{{u.username}}</p>
	  <div><a routerLink="/search">Search</a></div>
  </div></div>
<router-outlet></router-outlet>
<div id = "container">
	<a *ngFor="let top of (top | slice:12:18)" routerLink="/details/{{top.mal_id}}">
  		<h2>{{top.title}}</h2>
    	<img src="{{top.image_url}}"/>
	</a>
</div>